<aside class="sidebar">
    <div class="logo">
        <img src="/Assets/bolisaty-logo.png" alt="بوليصتي">
    </div>

    <nav class="nav">
        <a href="index.html" data-page="index">الرئيسية</a>
        <a href="stores.html" id="navStores" data-page="stores">المتاجر</a>
        <a href="users.html" id="navUsers" data-page="users">المستخدمون</a>
        <a href="create-label.html" data-page="create-label">إنشاء ملصق</a>
        <a href="senders.html" data-page="senders">المرسلين</a>
        <a href="labels.html" data-page="labels">الملصقات</a>
        <a href="templates.html" data-page="templates">قوالب الملصقات</a>
    </nav>
</aside>